footer {
    background-color: $color-bloc;
    display: flex;
    justify-content: space-around;
    a {
        font-size: map-get($font-size, footer);
        text-decoration: none;
        color: $color-bloc-writing;
        padding: 10px 0px;
    }
}