footer {
    background-color: $color-block;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    a {
        color: $color-block-writing;
        font-size: map-get($font-size, footer);
        text-decoration: none;
        padding: 30px 0px;
    }
}