.menu__group {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
    article {
        width: 35%;
        margin: 1.2em;
        box-shadow: 1px 1px 10px 1px rgba(112,112,112,0.15);
        @media (max-width: 768px) {
            width: 85%;
        }
    }
    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 22em;
        padding-top: 12em;
    }
    span {
        font-size: 2em;
        font-weight: bold;
        font-family: "segoe", 'Times New Roman', Times, Verdana, sans-serif;
    }
    &--note {
        background-color: $color-block-enchantee;
        a {
            padding-top: 10em;
        }
        i {
            font-size: 3em;
        }
        h2 {
            font-family: 'Devonshire', 'Times New Roman', Times, Verdana, sans-serif;
            font-size: 1.6em;
            font-weight: normal;
            margin: 0.5em;
        }
        span {
            text-transform: uppercase;
        }
        span, h2 {
            color: $color-text-enchantee;
        }
    }
    &--chic {
        background-color: $color-block-française;
        h2 {
            font-family: 'Croissant One', 'Times New Roman', Times, Verdana, sans-serif;
            font-size: 1.3em;
            background: -webkit-linear-gradient(left, $color-text-française-degraded, $color-text-française-degraded2);
            -webkit-background-clip: text;
            color: transparent;
        }
        span {
            font-family: 'Noto Serif', 'Times New Roman', Times, Verdana, sans-serif;
            color: $color-text-française-degraded;
        }
    }
    &--delice {
        background-color: $color-block-papilles;
        h2 {
            font-family: 'Dancing Script', 'Times New Roman', Times, Verdana, sans-serif;
            background: -webkit-linear-gradient(left, $color-text-papilles-degraded, $color-text-papilles-degraded2);
            -webkit-background-clip: text;
            color: transparent;
        }
        span {
            color: $color-text-papilles-degraded2;
        }
    }
    &--palette {
        h2 {
            font-family: 'Kaushan Script', 'Times New Roman', Times, Verdana, sans-serif;
            font-weight: normal;
            background:-webkit-linear-gradient(left, $color-text-gout-degraded 10%, $color-text-gout-degraded2);
            -webkit-background-clip:text;
            color:transparent;
        }
        span {
            color: rgba(114, 191, 86, 1);
        }
    }
    &--delice, &--palette {
        h2 {
            font-size: 1.7em;
        }
    }
}

.prochainement {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    margin: auto;
    @media (max-width: 768px) {
        width: 90%;
    }
    a {
        background-color: $color-block;
        text-decoration: none;
        text-align: center;
        color: $color-block-text;
        font-size: 1.5em;
        width: 350px;
        display: inline-block;
        border-radius: 10px;
        padding: 0.3em;
        font-size: 2em;
    }
}