.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
    article {
        width: 40%;
        margin: 1.2em;
        box-shadow: 1px 10px 20px 5px rgba(112,112,112,0.32);
    }
    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 22em;
        padding-top: 12em;
        width: 100%;
    }
    span {
        font-size: 2em;
        font-weight: bold;
        font-family: "segoe", 'Times New Roman', Times, Verdana, sans-serif;
    }
    &--note {
        background-color: $color-bloc-note;
        a {
            padding-top: 10em;
        }
        i {
            font-size: 3em;
        }
        h2 {
            font-family: 'Devonshire', 'Times New Roman', Times, Verdana, sans-serif;
            font-size: 1.6em;
            font-weight: normal;
            margin: 0.5em;
        }
        span {
            text-transform: uppercase;
        }
        span, h2 {
            color: rgba(68, 1, 1, 1);
        }
    }
    &--chic {
        h2 {
            font-family: 'Croissant One', 'Times New Roman', Times, Verdana, sans-serif;
            font-size: 1.3em;
            background: -webkit-linear-gradient(left, rgba(204, 117, 45, 0.918), rgba(138, 92, 204, 1));
            -webkit-background-clip: text;
            color: transparent;
        }
        span {
            font-family: 'Noto Serif', 'Times New Roman', Times, Verdana, sans-serif;
            color: rgba(204, 117, 45, 0.918);
        }
    }
    &--delice {
        h2 {
            font-family: 'Dancing Script', 'Times New Roman', Times, Verdana, sans-serif;
            background: -webkit-linear-gradient(left, rgba(4, 49, 223, 1), rgba(8, 135, 251, 1));
            -webkit-background-clip: text;
            color: transparent;
        }
        span {
            color: rgba(8, 135, 251, 1);
        }
    }
    &--palette {
        h2 {
            font-family: 'Kaushan Script', 'Times New Roman', Times, Verdana, sans-serif;
            background:-webkit-linear-gradient(left, rgba(23, 129, 14, 1) 10%, rgba(190, 255, 127, 1));
            -webkit-background-clip:text;
            color:transparent;
        }
        span {
            color: rgba(114, 191, 86, 1);
        }
    }
    &--delice, &--palette {
        h2 {
            font-size: 1.7em;
        }
    }
}

.prochainement {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    a {
        background-color: $color-bloc;
        text-decoration: none;
        text-align: center;
        color: $color-bloc-writing;
        font-size: map-get($font-size, prochainement);
        min-width: 350px;
        display: inline-block;
        border-radius: 10px;
        padding: 0.3em;
        font-size: 2em;
    }
}