.menu__enchantee {
    &--block {
        background-color: $color-block-enchantee;
        color: $color-text-enchantee;
        h2 {
            font-family: 'Devonshire', 'Times New Roman', Times, Verdana, sans-serif;
        }
        &--bot {
            display: flex;
            justify-content: center;
            h2 {
                font-size: 1.5em;
                padding-top: 0.5em;
            }
            img {
                padding-bottom: 1.5em;
            }
        }
    }
}