.menu__papilles {
    &--block {
        background-color: $color-block-papilles;
        h2 {
            font-family: 'Dancing Script', 'Times New Roman', Times, Verdana, sans-serif;
            background: -webkit-linear-gradient(left, $color-text-papilles-degraded, $color-text-papilles-degraded2);
            -webkit-background-clip: text;
            color: transparent;
        }
        h2, h3 {
            font-weight: normal;
        }
    }
}

/*ornament*/
.sprite {
    background-image: url(../pictures/ornament_chic_française_delice_papilles.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-3-left-1 {
    width: 250px;
    height: 13px;
    background-position: -5px -118px;
}

.sprite-3-left-2 {
    width: 250px;
    height: 13px;
    background-position: -5px -141px;
}

.sprite-3-left-3 {
    width: 250px;
    height: 13px;
    background-position: -5px -164px;
}