.menu__française {
    &--block {
        background-color: $color-block-française;
        h2 {
            font-family: 'Croissant One', 'Times New Roman', Times, Verdana, sans-serif;
            background: -webkit-linear-gradient(left, $color-text-française-degraded, $color-text-française-degraded2);
            -webkit-background-clip: text;
            color: transparent;
            @media (max-width: 768px) {
                font-size: 1.7em;
            }
        }
        li {
            font-family: 'Times New Roman', Times, Verdana, sans-serif;
        }
        &--part1 {
            color: $color-text-française-degraded;
        }
        &--part2 {
            color: $color-text-française-part2;
        }
        &--part3 {
            color: $color-text-française-part3;
        }
    }
}

/*ornament*/
.sprite {
    background-image: url(../pictures/ornament_chic_française_delice_papilles.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-2-left {
    width: 250px;
    height: 25px;
    background-position: -5px -5px;
}

.sprite-2-left2 {
    width: 250px;
    height: 29px;
    background-position: -5px -40px;
}

.sprite-2-left3 {
    width: 250px;
    height: 29px;
    background-position: -5px -79px;
}