.menu__papilles {
    display: flex;
    flex-direction: column;
    text-align: center;
    ul {
        list-style: none;
        margin-bottom: 3em;
    }
    h2 {
        margin-top: 0;
    }
    &--title {
        font-size: 2.5em;
        font-weight: bold;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    &--block {
        font-family: "segoe", 'Times New Roman', Times, Verdana, sans-serif;
        font-size: 1.2em;
        margin: auto;
        padding: 3em;
        width: 53em;
        box-shadow: 0 0 15px 0 rgba(112,112,112,0.42);
        max-width: 100%;
        box-sizing: border-box;
        background-color: $color-block-papilles;
        h2 {
            font-size: 3em;
            font-family: 'Dancing Script', 'Times New Roman', Times, Verdana, sans-serif;
            background: -webkit-linear-gradient(left, $color-text-papilles-degraded, $color-text-papilles-degraded2);
            -webkit-background-clip: text;
            color: transparent;
        }
        h2, h3 {
            font-weight: normal;
        }
        li {
            display: flex;
            justify-content: space-between;
            padding: 0.5em 2em 0.5em 0;
        }
        &--part1, &--part2, &--part3 {
            &--title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2em;
            }
        }
    }
}

/*ornament*/
.sprite {
    background-image: url(../pictures/ornament_chic_française_delice_papilles.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-3-left-1 {
    width: 250px;
    height: 13px;
    background-position: -5px -118px;
}

.sprite-3-left-2 {
    width: 250px;
    height: 13px;
    background-position: -5px -141px;
}

.sprite-3-left-3 {
    width: 250px;
    height: 13px;
    background-position: -5px -164px;
}

.mirror{
    transform: scaleX(-1);
}