.menu__gout {
    &--block {
        img {
            width: 275px;
        }
        h2 {
            font-family: 'Kaushan Script', 'Times New Roman', Times, Verdana, sans-serif;
            background:-webkit-linear-gradient(left, $color-text-gout-degraded 10%, $color-text-gout-degraded2);
            -webkit-background-clip:text;
            color:transparent;
        }
        h2, h3 {
            font-weight: normal;
        }
    }
}