$color-block: rgba(87, 156, 135, 1);
$color-block-text: rgba(253, 203, 70, 1);
$color-block-enchantee: rgba(252, 223, 219, 1);
$color-text-enchantee: rgba(68, 1, 1, 1);
$color-text-française-degraded: rgba(204, 117, 45, 0.918);
$color-text-française-degraded2: rgba(143, 91, 254, 1);
$color-text-française-part2: rgba(165, 103, 153, 1);
$color-text-française-part3: rgba(110, 76, 204, 1);
$color-text-papilles-degraded: rgba(4, 49, 223, 1);
$color-text-papilles-degraded2: rgba(8, 135, 251, 1);
$color-text-gout-degraded: rgba(23, 129, 14, 1);
$color-text-gout-degraded2: rgba(190, 255, 127, 1);